* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: hsl(0deg, 0%, 60%);)
}

/* Add styles here! */

header {
  padding: 32px 16px;
  border-bottom: 5px solid hsl(0deg, 0%, 30%);
  background-color: hsl(0deg, 0%, 100%);)
}

.max-width-wrapper {
  max-width: 575px;
  margin-inline: auto;
}

header p {
  font-size: 1.25rem;
}

.intro-chunk {
  padding: 24px;
  max-width: 375px;
}

p > strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  padding-block: 32px;
}

.indented-heading {
  margin-left: -32px;
  background-color: hsl(45deg, 100%, 50%);
  padding: 24px 32px;
  border-bottom: 5px solid hsl(45deg, 100%, 40%);
  margin-block: 0px;
  width: fit-content;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  padding: 8px 24px;
}
